.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .body{
  background-image: url("./assets/landing-pic.jpg");
  background-color:#212121;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  height:100vh;
  z-index:1;
} */


.leftHalf {
  background: url("./assets/landing-pic.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  height: 50%;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.rightHalf {
  background: url("./assets/landing-pic.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  height: 50%;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 0;
}
.rightHalf:hover {
  background: url("./assets/spaceship.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50%;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 5;
}

.go{
  font-weight:bold;
  font-family: monospace;
  font-size: 10px;
  text-align:center;
  background-color:#212121;
  color:white;
  font-size:20px;
  z-index:5;
}
.go:hover{
  color:gold;
}





